.ms_grid-container {
    height: 80vh;
    width: 80vh;
    margin: 0 auto;
}

.ms_grid-element {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.ms_grid-container, .ms_grid-element {
    border: 1px solid black;
}